[package]
name = "tracing-axiom"
version = "0.4.0"
authors = ["Arne Bahlo <arne@axiom.co>", "Darach Ennis <darach@gmail.com>"]
edition = "2021"
rust-version = "1.73"
license = "LicenseRef-Axiom-Dual-ASL2-MIT"
description = "The tracing layer for shipping traces to Axiom"
homepage = "https://axiom.co"
repository = "https://github.com/axiomhq/tracing-axiom"
documentation = "https://docs.rs/tracing-axiom"
keywords = ["tracing", "axiom", "instrumentation", "opentelemetry"]
readme = "README.md"
include = ["src/**/*.rs", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
resolver = "2"

[dependencies]
opentelemetry = { version =  "0.20", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.13", features = ["prost", "tokio", "http-proto", "reqwest-client" ] }
tracing-core = { version = "0.1", default-features = false, features = ["std"] }
tracing-opentelemetry = { version = "0.21", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false, features = ["smallvec", "std", "registry", "fmt", "json" ] }
reqwest = { version = "0.11", default-features = false }
thiserror = "1"
opentelemetry-semantic-conventions = "0.12"
url = "2.4.1"

[dev-dependencies]
tokio = "1"
tracing = { version = "0.1", features = [ "log" ] }
opentelemetry = { version =  "0.20", features = ["rt-tokio"] }

[features]
default = ["default-tls"]
default-tls = ["reqwest/default-tls"]
native-tls = ["reqwest/native-tls"]
rustls-tls = ["reqwest/rustls-tls"]
